*{
	padding:0;
	margin:0;
}
.modalEditor{
	max-width: 100%;
}
.extensionModal{
    transition: 1s ease-out;
    width: 100vw;
    align-content: stretch;
    align-items: center;
    background: rgba(220,33,122,.4);;
    color: white;
    display:grid;
    font-size: 2em;
    grid-template-rows: repeat(5, 4vh) .1em 1vh; 
    justify-content: center;
    opacity: 1;
    position: absolute;
    transform: translateY(0vmin);
    z-index: 100;
    max-height: calc(100vh + 30em);
    overflow-y: scroll;
    padding: 2em 0;

}
.hidden{
	transition: 1s ease-out;
    display:grid;
    max-height: 0;
    opacity: 0;
    transform: translateY(-1000vmin);
    z-index: -100;
	width: 100%;
    background: rgba(220,33,122,.4);;
    color: white;
    font-size: 3em;
}
@media (max-height: 615px){
    .extensionModal{
        grid-template-rows: repeat(5, 4vh) .1em 1vh; 
        padding: 1em 0;
        min-height: calc(90vh - 200px);
        max-height: calc(100vh + 30em);
    }
}
