.title{
    font-size: 2em;
}
.author{
    font-size: 2em;
}
.solution{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px; 
}
.correct{
    width: 19vw;
    background-color: #6aaa64;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    line-height: 5vh;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    user-select: none;
}
.correct::before{
    content: '';
    display: inline-block;
    padding-bottom: 100%;
}
@media (max-width: 400px){
    .correct{
        font-size: 20vh;
        line-height: 3vh;
    }
}
